

spring:
  application:
    name: tms-sep490-be

  security:
    jwt:
      # IMPORTANT: Change this secret in production! Use environment variable
      secret: ${JWT_SECRET:ThisIsAVerySecretKeyForJWTTokenGenerationPleaseChangeInProduction123456789}
      access-token-expiration: 900000      # 15 minutes (in milliseconds)
      refresh-token-expiration: 604800000  # 7 days (in milliseconds)

  datasource:
    driver-class-name: org.postgresql.Driver
    # docker run --name tms-postgres -e POSTGRES_PASSWORD=979712 -p 5432:5432 -d postgres 
    # docker exec -it tms-postgres psql -U postgres
    # CREATE DATABASE tms;

    # Run init schema and seed data
    # Get-Content "d:/Workspace/projects/tms-sep490-fa25/tms-sep490-be/src/main/resources/schema.sql", "d:/Workspace/projects/tms-sep490-fa25/tms-sep490-be/src/main/resources/seed-data.sql" | docker exec -i tms-postgres psql -U postgres -d tms
    username: postgres
    url: jdbc:postgresql://localhost:5432/tms 
    password: 979712

    # Auto-initialization when starting
  sql:
     init:
       mode: never    # Disable since we'll use manual setup
  jpa:
    defer-datasource-initialization: false
    hibernate:
      ddl-auto: none   # Don't validate or create, just use existing schema
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true

springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operations-sorter: alpha
    tags-sorter: alpha
    display-request-duration: true
    doc-expansion: none
    default-models-expand-depth: 1
    default-model-expand-depth: 1
    try-it-out-enabled: true
  show-actuator: false
  paths-to-match: /api/**
  packages-to-scan: org.fyp.tmssep490be.controllers
server:
  port: 8080
